In [21]:
import yfinance as yf
import pandas as pd

In [22]:
def get_stock_data(ticker):
    stock = yf.Ticker(ticker)
    return stock

In [104]:
data = yf.download("^DJI 000001.SS ^GSPC", start = "2020-01-01")
data.dropna()
list(data.columns)

[*********************100%***********************]  3 of 3 completed

[('Adj Close', '000001.SS'),
 ('Adj Close', '^DJI'),
 ('Adj Close', '^GSPC'),
 ('Close', '000001.SS'),
 ('Close', '^DJI'),
 ('Close', '^GSPC'),
 ('High', '000001.SS'),
 ('High', '^DJI'),
 ('High', '^GSPC'),
 ('Low', '000001.SS'),
 ('Low', '^DJI'),
 ('Low', '^GSPC'),
 ('Open', '000001.SS'),
 ('Open', '^DJI'),
 ('Open', '^GSPC'),
 ('Volume', '000001.SS'),
 ('Volume', '^DJI'),
 ('Volume', '^GSPC')]

In [105]:
data["China SSE"] = (data["High", "000001.SS"] + data["Low", "000001.SS"]) / 2
data["US DJI"] = (data["High", "^DJI"] + data["Low", "^DJI"]) / 2
data["US S&P 500"] = (data["High", "^GSPC"] + data["Low", "^GSPC"]) / 2
data = data.drop(columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'])
data = data.dropna().reset_index()
data

         Date    China SSE        US DJI   US S&P 500

0  2020-01-02  3082.218018  28750.285156  3246.834961
1  2020-01-03  3084.168579  28608.334961  3234.244995
2  2020-01-06  3086.255981  28563.325195  3230.739990
3  2020-01-07  3094.890015  28625.389648  3238.669922
4  2020-01-08  3076.685059  28694.344727  3251.869995
5  2020-01-09  3088.730103  28916.160156  3269.625000
6  2020-01-10  3093.310547  28899.084961  3271.925049
7  2020-01-13  3095.477051  28864.669922  3278.279907
8  2020-01-14  3116.386963  28963.214844  3285.719971
9  2020-01-15  3094.989990  29012.469727  3289.674927
10 2020-01-16  3083.628052  29216.134766  3309.965088
11 2020-01-17  3079.602417  29331.764648  3324.369995
12 2020-01-21  3068.510010  29243.840820  3323.200073
13 2020-01-22  3037.760498  29246.229492  3328.905029
14 2020-01-23  3000.193481  29078.725586  3314.375000
15 2020-02-03  2741.637451  28475.020508  3252.049927
16 2020-02-04  2735.716553  28800.810547  3293.765015
17 2020-02-05  2810.803467  29154.870117  3325.665039
18 2020-02-06  2842.100098  29327.490234  3341.174927
19 2020-02-07  2857.364990  29171.950195  3331.770020
20 2020-02-10  2871.448975  29136.865234  3335.015015
21 2020-02-11  2898.030029  29312.930664  3364.174927
22 2020-02-12  2909.661499  29487.660156  3375.594971
23 2020-02-13  2918.324463  29440.665039  3372.805054
24 2020-02-14  2913.258545  29373.109375  3373.419922
25 2020-02-18  2975.687500  29223.485352  3365.310059
26 2020-02-19  2985.046997  29341.735352  3386.175049
27 2020-02-20  2999.908081  29164.049805  3365.084961
28 2020-02-21  3039.519531  29019.614258  3344.604980
29 2020-02-24  3024.768921  28157.684570  3237.229980
30 2020-02-25  2980.331543  27573.409180  3182.880005
31 2020-02-26  2987.928955  27216.875000  3145.750000
32 2020-02-27  2994.969971  26264.065430  3037.229980
33 2020-02-28  2913.334961  25087.625000  2907.780029
34 2020-03-02  2940.908569  26049.065430  3018.074951
35 2020-03-03  3001.732544  26395.434570  3056.674927
36 2020-03-04  2993.180908  26694.325195  3082.674927
37 2020-03-05  3048.591553  26307.625000  3041.435059
38 2020-03-06  3040.953491  25610.500000  2943.734985
39 2020-03-09  2964.959595  24349.214844  2799.159912
40 2020-03-10  2952.547485  24355.665039  2808.295044
41 2020-03-11  2989.273071  23966.475586  2766.410034
42 2020-03-12  2925.374512  21996.205078  2569.905029
43 2020-03-13  2855.432495  22237.564453  2601.850098
44 2020-03-16  2841.348511  20942.370117  2471.959961
45 2020-03-17  2771.063965  20630.804688  2460.484985
46 2020-03-18  2772.315063  19703.395508  2367.045044
47 2020-03-19  2691.812378  19809.880859  2393.375000

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.07,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-03-13,147.50,161.91,140.73,158.83,92727400,0.0,0.0
2020-03-16,140.00,149.35,135.00,135.42,87905900,0.0,0.0
2020-03-17,140.00,147.50,135.00,146.57,81059800,0.0,0.0
2020-03-18,138.00,146.00,135.02,140.40,81316800,0.0,0.0
2020-03-19,142.77,150.15,139.00,148.08,53221479,0.0,0.0

In [ ]:
# Import data from Yahoo finance for selected indexes ^DJI, ^GSPC, .000001SS
data = yf.download("^DJI 000001.SS ^GSPC", start = "2020-01-01")
data.dropna()
data.head()

# Calculate Average Change between opening and closing price per day

data["China SSE"] = (data["High", "000001.SS"] + data["Low", "000001.SS"]) / 2
data["US DJI"] = (data["High", "^DJI"] + data["Low", "^DJI"]) / 2
data["US S&P 500"] = (data["High", "^GSPC"] + data["Low", "^GSPC"]) / 2
data = data.drop(columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'])
data = data.dropna().reset_index()
data


ITALY_DATASET = r"C:\Users\William\Documents\Github\Coronadex\Data\italytitansindex.csv"
italy_data = pd.read_csv(ITALY_DATASET)
italy_data.drop(columns= ["Unnamed: 2", "Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8"]).dropna()