In [5]:
import yfinance as yf
import pandas as pd

ModuleNotFoundError: No module named 'yfinance'

In [10]:
def get_stock_data(ticker):
    stock = yf.Ticker(ticker)
    return stock

In [1]:
msft = get_stock_data("000001.SS")
msft.info

NameError: name 'get_stock_data' is not defined

'MSFT'

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.07,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-03-13,147.50,161.91,140.73,158.83,92727400,0.0,0.0
2020-03-16,140.00,149.35,135.00,135.42,87905900,0.0,0.0
2020-03-17,140.00,147.50,135.00,146.57,81059800,0.0,0.0
2020-03-18,138.00,146.00,135.02,140.40,81316800,0.0,0.0
2020-03-19,142.77,150.15,139.00,148.08,53221479,0.0,0.0